@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Questrial&display=swap');
:root{
    --red: #ff0000;
    --green: #00b300;
    --blue: #0998ff;
    --darkerBlue: #0d6efd;
    --gold: #FFD700;
    --heading-font: 'Montserrat';
    --subheading-font: 'Questrial';
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
  background-color: var(--backgroundColor);
  font-family: var(--heading-font), sans-serif;
  min-height: 100%;
  overflow: hidden;
}
.text-center {
  text-align: center !important;
}

/* Main wrapper */
.wrapper{
    position: relative;
    min-height: 100vh;
}

/* Main background image */
.background-img{
    position: absolute;
}
.background-img img{
    width: 100%;
    height: auto;
    /* opacity: 0.75; */
}

/* Section Nav */
#section-nav{
    margin: 5px;
    font-size: 1.25em;
    font-weight: 700;
}
#section-nav me-auto a, a:visited, a:hover, a:active {
    color: var(--blue);
}

#section-nav nav .nav li a{
    color: var(--blue);
    font-weight: 600;
}
nav ul li .dropdown-menu{ 
    background-color: transparent; 
}
nav ul li .dropdown-menu .dropdown-item:hover{
    background-color: var(--blue);
    color: var(--gold) !important;
}


#section-intro{
    color: white;
}
#section-intro .btn-primary{
    background-color: var(--darkerBlue) !important;       
}
#section-intro .btn-primary:hover{
    background-color: var(--blue) !important;       
}
#section-intro h1{
    font-size: 150px;
}
#section-intro p{
    font-family: var(--subheading-font), sans-serif;
    font-size: 30px;
}

#section-intro-message{
    color: white;
    margin-top: 5% !important;
}
#section-intro-message p{
    font-family: var(--subheading-font), sans-serif;
    font-size: 20px;
}
#section-intro-message #btn-nextSection button{
    border-radius: 50px;
}



/* Animation */
.fadeInTop{
    -webkit-animation: fadeInTop 2s both;
    -moz-animation: fadeInTop 2s both;
    -o-animation: fadeInTop 2s both;
    animation: fadeInTop 2s both;
}
@-webkit-keyframes fadeInTop{
    0%{
        opacity: 0;
        -webkit-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInTop{
    0%{
        opacity: 0;
        -moz-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInTop{
    0%{
        opacity: 0;
        -o-transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInBottom{
    -webkit-animation: fadeInBottom 3s both;
    -moz-animation: fadeInBottom 3s both;
    -o-animation: fadeInBottom 3s both;
    animation: fadeInBottom 3s both;
}
@-webkit-keyframes fadeInBottom{
    0%{
        opacity: 0;
        -webkit-transform: translateY(+50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeInBottom{
    0%{
        opacity: 0;
        -moz-transform: translateY(+50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeInBottom{
    0%{
        opacity: 0;
        -o-transform: translateY(+50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInBottom{
    0%{
        opacity: 0;
        transform: translateY(+50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInLeft{
    -webkit-animation: fadeInLeft 2s both;
    -moz-animation: fadeInLeft 2s both;
    -o-animation: fadeInLeft 2s both;
    animation: fadeInLeft 2s both;
}
@-webkit-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -webkit-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -moz-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -moz-transform: translateX(0);
    }
}
@-o-keyframes fadeInLeft{
    0%{
        opacity: 0;
        -o-transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}