@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Questrial&display=swap');
:root{
    --red: #ff0000;
    --green: #00b300;
    --lightBlue: #01a7c7;
    --blue: #0998ff;
    --darkerBlue: #0d6efd;
    --white: #f9f9f9;
    --black: #010101;
    --gray: #141414;
    --lightGray: #696969;
    --heading-font: 'Montserrat';
    --subheading-font: 'Questrial';
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
  font-family: var(--heading-font), sans-serif;

}
.text-center {
  text-align: center !important;
}

body nav{
    font-size: 1.25em;
    font-weight: 700;
    background-color:  var(--black);
}

body nav .barButton{
    font-size: 1rem;
    display: none;
}
body nav .barButton i{
    color: var(--blue);
    font-size: 1.5rem;
}
body nav .barButton .dropdown-menu{
    background-color: var(--gray);
}
body nav .barButton .dropdown-menu a{
    color: var(--blue);
    font-weight: 600;
}
body nav .nav .nav-link:hover{
    color: var(--white);
}
/* Nav dropdown */
nav .nav .dropdown .dropdown-menu{
    background-color: transparent;
}
nav .nav .dropdown .dropdown-menu a{
    color: var(--blue);
    font-weight: 600;
}
/* If you want to target the Navbar's dropdown menu background styling on hover: use code below */
/* nav .nav .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: var(--blue);
    color: var(--white) !important;
} */

/* Main Background */
.background{
    background-image: url("../images/laptop_glow.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}
.background .overlay{
    background: var(--black);
    width: 100%;
    height: 100%;
    opacity: 0.50;
}

/* Overlay ontop of main background */
.main-intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.main-intro p{
    font-family: var(--subheading-font), sans-serif;
    color: var(--lightBlue);
    font-size: 1.3rem;
    margin-bottom: 1.4rem;
}
.main-intro h2{
    color: var(--white);
    font-size: 4rem;
}
.main-intro .main-btn{
    margin-top: 2rem;
    text-transform: uppercase;
}

/*  Details */
.details{ 
    width: 100%;
    padding: 4rem 8rem;
    background-color: var(--gray);
}
.details h3, h5, h6{
    color: var(--white);
}

.details .details-left{
    width: 45%;
}
.details .details-left h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}
.details .details-left h6{
    font-size: 1.3rem;
    font-weight: 400;
    padding-bottom: 1.2rem;
    color: var(--lightBlue);
}
.details .details-left p{
    font-family: var(--subheading-font), sans-serif;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    color: var(--blue);
}
.details .details-left p strong{
    color: var(--white);
}
.details .details-left ul{
    font-family: var(--subheading-font), sans-serif;
    font-size: 1.2rem;
    color: var(--white);
}
.details .details-left .details-btn{
    padding: 1rem 0;
}

.details .details-right{
    width: 45%;
    border-left: 1px solid var(--darkerBlue);
    padding-left: 4rem;
}
.details .details-right h3{
    font-size: 2.5rem;
    padding-bottom: 1.1rem;
}
.details .details-right h5{
    font-family: var(--subheading-font), sans-serif;
    font-size: 1.1rem;
    color: var(--lightBlue);
    margin-bottom: 0.8rem;
}

/* Certifications */
.certifications{
    background-color: var(--white);
    padding: 8rem;
}
.certifications .about{
    width: 39%;
}
.certifications .about h2{
    color: var(--blue);
    font-size: 2.1rem;
    padding-bottom: 1.8rem;
}
.certifications .about p{
    font-family: var(--subheading-font), sans-serif;
    color: var(--black);
    font-size: 1.1rem;
}
.certifications .about p a{
    text-decoration: none;
}
.certifications .cert-list{
    width: 57%;
}
.certifications .cert-list .cert1{
    width: 45%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow:
        0px 2px 3.6px rgba(0, 0, 0, 0.031),
        0px 5.6px 10px rgba(0, 0, 0, 0.045),
        0px 13.6px 24.1px rgba(0, 0, 0, 0.059),
        0px 45px 80px rgba(0, 0, 0, 0.09);
}
.certifications .cert-list .cert1 .img img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}
.certifications .cert-list .cert1 .certDetails{
    padding-bottom: 10px;
}
.certifications .cert-list .cert1 .certDetails .certName{
    padding: 5px 20px 0 20px;
}
.certifications .cert-list .cert1 .certDetails .certName h4{
    color: var(--darkerBlue);
    font-size: 1.5rem;
}
.certifications .cert-list .cert1 .certDetails .certName i{
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--darkerBlue)
}
.certifications .cert-list .cert1 .certDetails .certSubname{
    padding: 0 20px 5px 20px;
}
.certifications .cert-list .cert1 .certDetails .certSubname p{
    color: var(--gray);
}
.certifications .cert-list .cert1 .certDetails .certSubname i{
    font-size: 1.3rem;
    font-weight: bolder;
    color: var(--gray);
}
.certifications .cert-list p{
    font-family: var(--subheading-font), sans-serif;
}

/* Projects */
.projects{
    padding: 7rem 8rem;
}
.projects .mini-heading{
    font-size: 1.3rem;
    color: var(--lightBlue);
    padding: 6px;
    text-align: center;
}

.projects .main-heading{
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 50px;
    color: var(--darkerBlue);
    text-align: center;
}

.projects .projectsList{

}
.projects .projectsList .cert1{
    width: 30%;
    height: auto;
    box-sizing: border-box;
    background-color: var(--white);
    box-shadow:
        0px 2px 3.6px rgba(0, 0, 0, 0.031),
        0px 5.6px 10px rgba(0, 0, 0, 0.045),
        0px 13.6px 24.1px rgba(0, 0, 0, 0.059),
        0px 45px 80px rgba(0, 0, 0, 0.09);
}
.projects .projectsList .cert1 .img img{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    padding: 0 10px; /* top/bottom  left/right */
}
.projects .projectsList .cert1 .certDetails{
    padding-bottom: 10px;
}
.projects .projectsList .cert1 .certDetails .certName{
    padding: 5px 20px 0 20px;
}
.projects .projectsList .cert1 .certDetails .certName .certNameDetails h4{
    color: var(--darkerBlue);
    font-size: 1.7rem;
}
.projects .projectsList .cert1 .certDetails .certName .certNameDetails p{
    color: var(--blue);
    font-size: 1.1rem;
}
.projects .projectsList .cert1 .certDetails .certName .certIcon{
    color: var(--darkerBlue);
}
.projects .projectsList .cert1 .certDetails .certSubname{
    padding: 15px 30px 30px 30px;
}
.projects .projectsList .cert1 .certDetails .certSubname p{
    font-size: 1.1rem;
    color: var(--gray);
}

/* Contact */
.contact{
    background-color: var(--gray);
    padding: 8rem;
}
.contact .form{
    width: 45%;
}

.contact .form h2{
    color: var(--lightGray);
    font-size: 2rem;
    padding-bottom: 10px;
    width: 100%;
}
.contact .form .userContact input, .contact .form .userContact textarea{
    width: 100%;
    padding: 15px;
    border: 1px solid var(--blue);
    outline: none;
    margin: 13px 0;
    font-family: var(--subheading-font);
}
.contact .form .userContact input:focus, .contact .form .userContact textarea:focus{
    border: 2px solid var(--green);
    outline: none;
}
.contact .form .userContact input::placeholder{
    font-size: 1.1rem;
    height: 80%;
}

/* Footer */
.footer{
    background-color: var(--black);
    color: var(--lightGray);
    font-family: var(--subheading-font);
}
.footer .footAdmin h4, .footer .footMessage p{
    font-size: 1.1rem;
}

/* Media Query */
@media screen and (max-width:1042px){
    body nav .nav .nav-item a{
        font-size: 1rem;
    }
}
@media screen and (max-width:991px){
    body nav .logoNav{
        display: none;
    }
    body nav .barButton{
        display: contents;
    }
}
@media screen and (max-width:768px){
    
}
@media screen and (max-width:496px){
    
}
