@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --backgroundColor: #f5f5f5;
    --transparentBlue: #e6e6ff;
    --regularBlue: #8080ff;
    --darkBlue: #0000ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    background-color: var(--backgroundColor);
    font-family: 'Montserrat', sans-serif;
}
.text-center {
    text-align: center !important;
}

/* Main wrapper */
.wrapper{
    position: relative;
}

/* Main background image */
.main-background-img{
    position: absolute;
}
.main-background-img img{
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

/* Main content */
.main-content{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20%;
    width: 100%;
    max-width: 330px;
    height: 100%;
    max-height: 660px;
    background-color: var(--transparentBlue);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--darkBlue);
}

/* Modal */
.modal .modal-body form input{
    border-radius: 5px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
  }

form label {
    display: block;
    margin-bottom: 5px;
}

form div input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #c4c4c4;
    padding: 0 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  form div {
    position: relative;
    margin-bottom: 15px;
  }
  
  input:focus {
    border: 2px solid #f2796e;
  }

  form div i {
    position: absolute;
    padding: 10px;
  }

.fa-exclamation,
.error {
  color: red;
}

.fa-check {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}

/* .fa-exclamation,
.fa-check {
  right: 0;
  opacity: 0;
} */

