@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --backgroundColor: #f5f5f5;
    --transparentBlue: #e6e6ff;
    --regularBlue: #8080ff;
    --darkBlue: #0000ff;
}

body{
    background-color: var(--backgroundColor);
    font-family: 'Montserrat', sans-serif;
}
.text-center {
    text-align: center !important;
}

/* Main wrapper */
.wrapper{
    position: relative;
}

/* Main background image */
.main-background-img{
    position: absolute;
}
.main-background-img img{
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.5;
}

/* Main content */
.main-content{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 20%;
    width: 100%;
    max-width: 330px;
    height: 100%;
    max-height: 660px;
    background-color: var(--transparentBlue);
    border-radius: 10px;
}

/* Modal */
.modal .modal-body form input{
    border-radius: 5px;
}

form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--transparentBlue);
    border-radius: 4px;
    box-sizing: border-box;
} 

form input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 form input[type=submit]:hover {
    background-color: var(--transparentBlue);
    color: var(--regularBlue);
  }